	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
	
	body {
		margin: 3% 12px 0 12px;
		background: #000;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: url(../img/bg.webp);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 70%;
	}
	a {
		color: black;
	}

	.flag {
		animation: 1.5s show ease;
		background-image: linear-gradient(#0057B7 50%, #FFDD00 0%);
		height: 5em;
    	width: 9em;
		}
	
	.flagbottom {
		height: 50%;
		}

	#logosec {
		display: flex;
		justify-content: center;
		animation: 3s show ease;
		margin-top: 4%;
	}

	.logo {
		display: flex;
		justify-content: center;
	}

	.logo img {
		width: 70%;
	}

	#buttonsec {
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	
	.tyr {
		color: white;
		font-size: 27px;
		margin-top: 6%;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		animation: 4s show ease;
	}

	.button {
		color: #fff;
		text-decoration: none;
		font-weight: 600;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		align-items: center;
		padding: 15px 45px;
		background-color: #F92D2D;
		border: solid 1px #F92D2D;
		margin-top: 6%;
		border-radius: 5px;
		animation: 5s show ease;
	}

	.button:hover {
		background-color: transparent;
		border: white 1px solid;
	}

	.povernisj {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 4%;
		animation: 6.5s show ease;
	}

	.povernisj img {
		width: 40%;
	}
	
	#socialsec {
		margin-top: 5%;
		animation: 8.5s show ease;
	}

	.svgstyle {
		fill: #fff;
		width: 2.5em;
		margin: 0 1em;
		transition: all .3s ease-in-out;
	}

	.svgstyle:hover {
		opacity: 0.4;
	}